//- mainPage Variable
-mainTitle = "MaruDepth - A useful video recommended by Maru";
-mainDescription = "MaruDepth main page. 디자인, 개발, 과제 등 유용한 사이트들이 모여져 있는 사이트입니다. maru가 추천하는 유용한 사이트!";
-themeColor = "#5758BB";

//- text Variable
-navigationText = ["Video","Contact"];

-bannerContentText="디자인과 개발을 공부할 때 유용한 사이트 및 디자인과 개발 분야가 아니더라도 자료 조사를 쉽게 할 수 있는 사이트와 PPT를 쉽게 만들 수 있게 도와주는 사이트 등을 올려드리고 있습니다!";

-summaryDesignText="디자인을 공부하시거나 디자인 작업을 하시는 분들은 이 사이트에서 무료 이미지, 무료 아이콘, 팔레트, 포토샵과 비슷한 기능들을 하는 무료 사이트 등을 보실 수 있습니다.";
-summaryProgrammingText="개발을 공부하시거나 개발 작업을 하시는 분들은 이 사이트에서 기초, 개발 관련 영상, px to blabla 등 여러가지 유용한 사이트들을 보실 수 있습니다.";
-summaryUsefulText="디자인과 개발뿐이 아니더라도 다른 전공을 하시는 분들은 이 사이트에서 자료조사 사이트, 파일 변환 사이트, 온라인 ppt 사이트 등 여러가지 유용한 사이트들을 보실 수 있습니다.";

-kindDesignTitle="디자인 관련 사이트";
-kindDesignText="디자인을 배우시거나 디자인을 현업으로 사용하시거나 디자인 툴을 사용하시는 분들깨 유용한 사이트들을 모아봤습니다. 이 사이트들은 무료 아이콘, 무료 이미지, 팔레트, 그라데이션, 무료 로고 설치 사이트, 포토샵과 비슷한 무료 사이트 등 유용한 사이트들입니다.";
-kindDevTitle="개발 관련 사이트"
-kindDevText="개발을 배우시거나 개발을 협업으로 사용하시거나 개발을 막 시작하신 분들께 유용한 사이트 들을 모아봤습니다. 이 사이트들은 px to rem, 개발 공부 관련 사이트, 코딩 테스트 등 유용한 사이트들 입니다.";
-kindUsefulTitle="굉장히 유용한 사이트";
-kindUsefulText="디자인, 개발이 아닌 다른 분야라구요? 과제가 자료조사라면 자료조사 사이트 그리고 ppt가 없다면 online ppt 사이트, 제출을 pdf로 해야한다면 파일 변환 사이트 등 유용한 사이트들을 모아봤습니다!";

//- link
-trendDesign = "https://www.youtube.com/watch?v=T6Jcl-GqeBA&t=5s";

-flaticon           = "https://www.flaticon.com/";
-rempx              = "https://www.flaticon.com/";
-unsplash           = "https://unsplash.com/";
-adobecolor         = "https://color.adobe.com/ko/create/color-wheel";
-adstore            = "https://adstorepost.com/";
-asiafont           = "http://www.asiafont.com/";
-blend              = "http://www.colinkeany.com/blend/";
-bm                 = "https://www.woowahan.com/";
-canva              = "https://www.canva.com/ko_kr/create/business-cards/";
-colorlover         = "https://www.colourlovers.com/";
-dafont             = "https://www.dafont.com/";
-fontspace          = "https://www.fontspace.com/";
-foodpic            = "http://foodpic.net/";
-gallup             = "https://www.gallup.com/home.aspx";
-gratisography      = "https://gratisography.com/";
-grdnrush           = "https://www.youtube.com/c/grdnrushmusic";
-hatchful           = "https://hatchful.shopify.com/";
-iconmonstr         = "https://iconmonstr.com/";
-kosis              = "http://kosis.kr/index/index.do";
-kriss              = "https://www.kriss.re.kr/index.do";
-naverfont          = "https://software.naver.com/software/fontList.nhn?categoryId=I0000000";
-ncs                = "https://www.ncs.go.kr/index.do";
-noonnu             = "https://noonnu.cc/";
-openoffice         = "https://www.openoffice.org/";
-pexels             = "https://www.pexels.com/ko-kr/";
-pinterest          = "https://www.pinterest.co.kr/";
-pixabay            = "https://pixabay.com/ko/";
-pixler             = "https://pixlr.com/kr/";
-pptmagazine        = "https://www.presentationmagazine.com/ppt-templates";
-pptmoa             = "http://pptmoa.com/";
-removebg           = "https://www.remove.bg/";
-riss               = "http://www.riss.kr/index.do";
-rwdb               = "http://rwdb.kr/";
-sbblog             = "https://m.blog.naver.com/PostView.nhn?blogId=seiru523&logNo=220430114342&proxyReferer=https:%2F%2Fwww.google.com%2F";
-showeet            = "https://www.showeet.com/";
-slideshare         = "https://www.slideshare.net/";
-ted                = "https://tedxbeaconstreet.com/?gclid=CjwKCAjwxev3BRBBEiwAiB_PWNJpouOGJeo7Uqgqv64oN75WSNOWBufsy2sz7TUh24dwhSFmXTB25RoCjvEQAvD_BwE";
-uigradients        = "https://uigradients.com/#BacktotheFuture";
-youtubeaudio       = "https://www.youtube.com/audiolibrary/music?nv=1";

-flaticonTag        = ["icon","design","free","install","무료","아이콘","설치"];
-rempxTag           = ["px","rem","calculator","계산기","단위"];
-unsplashTag        = ["image","free","design","install","무료","이미지","설치"];
-adobecolorTag      = ["color","adobe","design","어도비","색상","색","조합"];
-adstoreTag         = ["simple","ppt","tamplet","install","피피티","심플","템플릿","무료","설치"];
-asiafontTag        = ["font","install","free","폰트","무료","설치"];
-blendTag           = ["blend","gradient","color","design","그라데이션","블렌드","컬러","디자인"];
-bmTag              = ["bm","font","free","install","폰트","배달의민족","무료","설치"];
-canvaTag           = ["ppt","free","create","피피티","무료","제작"];
-colorloverTag      = ["color","design","combination","색상","색","조합","디자인"];
-dafontTag          = ["font","install","free","폰트","무료","설치"];
-fontspaceTag       = ["font","install","free","폰트","무료","설치"];
-foodpicTag         = ["food","correction","음식","보정"];
-gallupTag          = ["check","survey","설문조사","확인"];
-gratisographyTag   = ["ppt","image","install","free","point","피피티","이미지","포인트","무료","설치"];
-grdnrushTag        = ["vlog","music","youtube","channel","브이로그","노래","음악","유튜브","채널"];
-hatchfulTag        = ["logo","free","install","design","create","로고","무료","설치","디자인","제작"];
-iconmonstrTag      = ["icon","free","install","design","아이콘","무료","설치","디자인"];
-kosisTag           = ["a numerical statement","통계"];
-krissTag           = ["free","thesis","무료","논문"];
-naverfontTag       = ["font","install","naver","free","폰트","설치","네이버","무료"];
-ncsTag             = ["ncs","install","music","youtube","channel","free","무료","설치","유튜브","채널","음악","노래"];
-noonnuTag          = ["basic","install","font","free","베이직","폰트","설치","무료"];
-openofficeTag      = ["office","free","word","ppt","excel","오피스","무료","워드","피피티","엑셀"];
-pexcelsTag         = ["people","image","free","install","인물","사람","사진","이미지","무료","설치"];
-pinterestTag       = ["design","디자인"];
-pixabayTag         = ["image","free","install","무료","이미지","사진","설치"];
-pixlerTag          = ["photoshop","free","포토샵","무료"];
-pptmagazineTag     = ["ppt","free","install","tamplet","피피티","템플릿","무료","설치"];
-pptmoaTag          = ["ppt","free","install","tamplet","피피티","템플릿","무료","설치"];
-removebgTag        = ["remove","image","background","free","auto","delete","배경","이미지","자동","제거"];
-rissTag            = ["thesis","material","free","논문","자료","무료"];
-rwdbTag            = ["design","interaction","source","free","무료","디자인","소스","상호작용","인터렉션"];
-sbblogTag          = ["blog","ppt","color","tamplet","블로그","피피티","색상","색","템플릿"];
-showeetTag         = ["ppt","free","install","tamplet","피피티","템플릿","무료","설치"];
-slideshareTag      = ["slide","share","free","슬라이드","쉐어","무료"];
-tedTag             = ["idea","아이디어"];
-uigradientsTag     = ["design","gradient","color","색","색상","디자인","그라데이션"];
-youtubeaudioTag    = ["free","music","youtube","install","무료","설치","유튜브","음악","노래"];