//- mainPage Variable
-mainTitle = "MaruDepth - A useful video recommended by Maru";
-mainDescription = "MaruDepth main page. 디자인, 개발, 과제 등 유용한 사이트들이 모여져 있는 사이트입니다. maru가 추천하는 유용한 사이트!";
-themeColor = "#5758BB";

//- text Variable
-navigationText = ["About","Video","Contact","Admin"];

-bannerContentText="디자인과 개발을 공부할 때 유용한 사이트 및 디자인과 개발 분야가 아니더라도 자료 조사를 쉽게 할 수 있는 사이트와 PPT를 쉽게 만들 수 있게 도와주는 사이트 등을 올려드리고 있습니다!";

-summaryDesignText="디자인을 공부하시거나 디자인 작업을 하시는 분들은 이 사이트에서 무료 이미지, 무료 아이콘, 팔레트, 포토샵과 비슷한 기능들을 하는 무료 사이트 등을 보실 수 있습니다.";
-summaryProgrammingText="개발을 공부하시거나 개발 작업을 하시는 분들은 이 사이트에서 기초, 개발 관련 영상, px to blabla 등 여러가지 유용한 사이트들을 보실 수 있습니다.";
-summaryUsefulText="디자인과 개발뿐이 아니더라도 다른 전공을 하시는 분들은 이 사이트에서 자료조사 사이트, 파일 변환 사이트, 온라인 ppt 사이트 등 여러가지 유용한 사이트들을 보실 수 있습니다.";

-kindDesignTitle="디자인 관련 사이트";
-kindDesignText="디자인을 배우시거나 디자인을 현업으로 사용하시거나 디자인 툴을 사용하시는 분들깨 유용한 사이트들을 모아봤습니다. 이 사이트들은 무료 아이콘, 무료 이미지, 팔레트, 그라데이션, 무료 로고 설치 사이트, 포토샵과 비슷한 무료 사이트 등 유용한 사이트들입니다.";
-kindDevTitle="개발 관련 사이트"
-kindDevText="개발을 배우시거나 개발을 협업으로 사용하시거나 개발을 막 시작하신 분들께 유용한 사이트 들을 모아봤습니다. 이 사이트들은 px to rem, 개발 공부 관련 사이트, 코딩 테스트 등 유용한 사이트들 입니다.";
-kindUsefulTitle="굉장히 유용한 사이트";
-kindUsefulText="디자인, 개발이 아닌 다른 분야라구요? 과제가 자료조사라면 자료조사 사이트 그리고 ppt가 없다면 online ppt 사이트, 제출을 pdf로 해야한다면 파일 변환 사이트 등 유용한 사이트들을 모아봤습니다!";

//- link
-trendDesign = "https://www.youtube.com/watch?v=T6Jcl-GqeBA&t=5s";

-flaticon = "https://www.flaticon.com/";
-pxtorem = "https://www.flaticon.com/";
-unsplash = "https://unsplash.com/";
