include ../common/mixin
include ../common/variable

header.header
    .header__info
        .header__info__container
            ul.header__contact
                +headerItem("contact","call","010-2269-0763","")
                +headerItem("contact","mail","marudev4905@gmail.com","")
            ul.header__sns
                +headerItem("sns","kakao","kakaotalk","#")
                +headerItem("sns","instagram","instagram","#")
                +headerItem("sns","facebook","facebook","#")
                +headerItem("sns","github","github","#")
    .header__surf
        .header__surf__container
            h1.logo
                a(href="/")
                    img(src="./images/logo/logo.png", alt="marudepth-logo")
            form.search(
                name="search"
                method="GET"
            )
                input(
                    type="text"
                    name="tag"
                    placeholder="#"
                )