include ../common/mixin
include ../common/variable

header
    .header__info
        .header__info__container
            ul.header__contact
                li
                    i
                        img(src="./images/icon/call.png", alt="call-icon")
                    span 010-2269-0763
                li
                    i
                        img(src="./images/icon/mail.png", alt="mail-icon")
                    span marudev4905@gmail.com
            ul.header__sns
                li
                    a(href="#")
                        i
                            img(src="./images/icon/kakao.png", alt="kakaotalk-icon")
                li
                    a(href="#")
                        i
                            img(src="./images/icon/instagram.png", alt="instagram-icon")
                li
                    a(href="#")
                        i
                            img(src="./images/icon/facebook.png", alt="facebook-icon")
                li
                    a(href="#")
                        i
                            img(src="./images/icon/github.png", alt="github-icon")
    .header__surf
        .header__surf__container
            h1.logo
                a(href="/")
                    img(src="./images/logo/logo.png", alt="marudepth-logo")
            form.search(
                name="search"
                method="GET"
            )
                input(
                    type="text"
                    name="tag"
                    placeholder="#"
                )